*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #b8c9e2;
    padding: 40px 20px;

}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    grid-template-columns: 1fr 350px;
    gap: 30px;
}

.main-content{
    padding-right: 20px;
}
.title-section{
    margin-bottom: 40px;
}
.greeting{
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 10px;
}

.title-section h1{
    font-size: 40px;
    font-weight: 700;

}

.title-section h1 .task-count{
    color: rgb(236, 88, 88);
}

.add-btn{
    background: rgb(87, 87, 249);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
    border-radius: 12px;

}
.add-btn:hover{
    background: rgb(75, 30, 180);
}

.section{
    margin-bottom: 40px;
}

.section-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.section-header h2{
    font-size: 22px;
    font-weight: 600;
    color: darkslategrey;
}

.badge{
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.badge-inactive{
    background: rgb(251, 214, 217);
    color: red;
}

.task-item{
    background: rgb(250, 250, 250);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 8px rgb(0,0,0,0.08);
    transition: 0.3s ease;
}

.task-item:hover{
    background-color: rgb(245,245,245);
}

.task-checkbox{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgb(99, 99, 99);
    cursor: pointer;
}

.task-checkbox.completed{
    background: rgb(99, 99, 99);
    position: relative;
}

.task-checkbox.completed::after{
    content:'✓';
    color: rgb(255, 255, 255);
    size: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-content{
    flex: 1;

}

.task-title{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.task-title.completed{
    text-decoration: line-through;
    color:#6b7280;
}
.status-badge{
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.status-pending{
    background: #f5d864;
    color: rgb(240, 199, 18);
}
.status-progress{
    background: #9cc4f8;
    color: rgb(99, 143, 246);
}
.status-completed{
    background: #8df5c1;
    color: rgb(78, 235, 138);
}
.status-cancelled{
    background: #f5b4a7;
    color: rgb(246, 117, 100);
}

.sidebar{
    background: rgb(249, 250, 251);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    margin-left: auto;
    width: 35%;
}

.sidebar-section{
    margin-bottom: 25px;
    width: 100%
}
.sidebar-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(48, 48, 48);
}

.stat-card{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.stat-label{
    font-size: 20px;
    margin-bottom: 8px;
    color: #6b7280;
}

.stat-value{
    font-size: 1.5rem;
    font-weight: 700%;
    color: rgb(28, 28, 28);
}

.progress-bar{
    width: 100%;
    height: 8px;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;

}

.progress-fill{
    width: 57%;
    height: 100%;
    background: rgb(139, 139, 246);
    border-radius: 10px;
    transition: width 0.5s ease;

}