*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #b8c9e2;
    min-width: 100vh;
    padding: 40px 20px;

}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
}

.main-content{
    padding-right: 20px;
}
.title-section{
    margin-bottom: 40px;
}
.greeting{
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 10px;
}

.title-section h1{
    font-size: 40px;
    font-weight: 700;

}

.title-section h1 .task-count{
    color: rgb(236, 88, 88);
}

.add-btn{
    background: rgb(87, 87, 249);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
    border-radius: 12px;

}
.add-btn:hover{
    background: rgb(75, 30, 180);
}

.section{
    margin-bottom: 40px;
}

.section-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.section-header h2{
    font-size: 22px;
    font-weight: 600;
    color: darkslategrey;
}

.badge{
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.badge-inactive{
    background: rgb(251, 214, 217);
    color: red;
}
